/* Mode clair par défaut */
body {
  background-color: #ffffff !important;
  color: #000000 !important;
}

/* Mode sombre */
body.dark-mode {
  background-color: #121212 !important;
  color: white !important;
}

/* Liens en marron pour le mode clair */
.text-brown {
  color: black !important;
}

/* Liens en beige clair pour le mode sombre */
body.dark-mode .text-brown {
  color: white !important;
}

/* Navbar sombre */
body.dark-mode .navbar {
  background-color: #121212 !important;
  color: white !important;
}


